.custom-header {
  background-color: #2b3643!important;
}

.custom-speaker{
  min-height: 900px;
}
.package-column .package-price{
  font-size: 30px;
}
/*.package-column.special-column{
  min-height: 480px;
}*/
.bottomaligned {
  position:absolute;
  bottom:5%; left: 10%;}

.package-column{
  min-height: 480px;
}


.footer {
  background-color: #2b3643;
}
.footer-nav {
  float: left;
  color: #aebdc1;
}
.footer-social {
  float: right;
}
.footer-social a {
  margin-right: 10px;
}
.footer-about {
  padding-bottom:30px;
}
.footer {
  margin-top:50px
}

#dropShadow {
  height: 6px;
  bottom: -6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 92px;
  left: 0;
  right: 0;
  height: 6px;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 998;
}

@media (min-width: 768px) {
  #dropShadow {
    top: 78px;
  }
}

.workshop-book {
  margin:32px;
}
.workshop-description {
  background-color: #ffffff;
  padding: 32px 32px;
  font-size:large;
}
.workshop-description ul > li{
  padding-left:20px;
  list-style: circle;
  list-style-position: inside;
}
.workshop-description ol > li{
  padding-left:20px;
  list-style: decimal;
  list-style-position: inside;
}

.workshop-description h2,h3,h4{
  letter-spacing: -0.01em;
}
.nav.nav-schedule li.active {
  background: #5F7895;
}

.nav.nav-schedule li a {
  padding: 15px;
}
.no-pad {
  padding: 0;
}
.white{
  color:#ffffff;
}

.herobox{
  margin-bottom: 140px;
  width:100%;
  padding-top:250px;
  background-image: url('resources/heropic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position:relative;
}
.herobox .img-contain{
  position: absolute;
  bottom:0px;
  left:50%;
}
.herobox-logo{
  position:relative;
  bottom:-120px;
  left:-50%;
  width:300px;
  border-radius:50%;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,1);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,1);
}
h3 {
  margin-top:0.5em;
}
.what-we-do {
  background-image: url('resources/heropic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background: #384657;*/
  width: 100%;
  padding-top: 70px;
  min-height: 405px;
}

.what-we-do p {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 0.625em;
  color: white;
}

.what-we-do h3 {
  color: white;
}

button, .btn {
  margin: 0;
}

.course-bg,
.workshop-bg {
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top:30px;
}

.course-bg p,
.workshop-bg p {
  margin-bottom: 16px;
  margin-top: 16px;
}

.box-shadow-bg {
  -webkit-box-shadow:0 0 10px rgba(16, 20, 25, 0.2);
  -moz-box-shadow:0 0 10px rgba(16, 20, 25, 0.2);
  box-shadow:0 0 10px rgba(16, 20, 25, 0.2);
}

h4 {
  font-weight: 100;
  letter-spacing: 0;
  margin-top: 0.5em;
}

.what-we-do button {
  width: 220px;
  margin: 10px 5px;
}

.cta-buttons {
  margin: 0px auto;
  text-align: center;
  width: 220px;
}

.cta-buttons a {
  text-align: center;
  margin: 15px;
}

.who-are-we {
  background: #2b3643;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-top: 30px;
}

.who-are-we h3 {
  color: #ffffff;
  margin-bottom: 12px;
}

.who-are-we p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 0.01em;
}

.about-us {
  margin-bottom: 16px;
  color: #ffffff;
}

h5 {
  letter-spacing: 0;
  font-weight: 100;
}

.description p {
  font-size:1.5em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
}

#navigation {
  padding-left: 50px;
}

.navigation-header .logo {
  padding: 0;
  max-width: 190px;
}

.navbar-toggle {
  margin-top: 6px;
}

.embed-logo{
  height:0.8em;
}
.about-widget img {
  width: 100px;
  margin: 0;
}

.workshop-tile-left {
  width: 45%;
}
.workshop-tile:nth-child(2nd) {clear: both;}
.workshop-tile-right {
  float: right;
  width: 45%;
}

p.big-text{
  font-size:1.5em;
  line-height: 1.5em;
  margin-top:20px
}
.tickets {
  padding:30px;
  margin-top:50px;
  background: #DCE1E5;
  border-radius: 5px;
}

b, strong {
  letter-spacing: 0.01em;
}

.header-wrapper .buy-btn:hover {
  background: #39c8b7;
  border-color: #39c8b7;
}

.header-title .text-alt {
  margin-bottom: 18px;
}
.header-title h3 {
  margin-bottom: 3px;
}
.workshop-tile a:hover,
.workshop-tile a {
  text-decoration: none;
  color: inherit;
}
.footer-about {
  padding-top: 36px;
}
.footer-about p,
h6.widget-head {
  font-size: 20px;
  line-height: 1.6em;
  color: #ffffff;
  font-weight: 200;
}
.embed-logo {
  margin-left: 3px;
  margin-bottom: -0.02em;
}

.speaker img.img-responsive{
  width:100%;
}

/*Small tablets and up*/

@media (min-width: 480px) {
  .what-we-do {
    padding-top: 70px;
    min-height: 405px;
  }
  .navigation-header .logo {
    width: 190px;
  }
}
/*iPAD and up*/

@media (min-width: 767px) {

  .what-we-do {
    min-height: 525px;
    padding-top: 125px;
  }

  .what-we-do p {
    font-size: 2.5em;
  }

  .who-are-we {
    margin-top: 60px;
    padding-bottom: 20px;
    padding-top: 30px;
  }

  .who-are-we h3 {
    font-size: 40px;
    margin-bottom: 22px;
  }

  .who-are-we p {
    font-size: 20px;
    line-height: 35px;
  }

  .cta-buttons{
    width: 100%;
  }

  .navigation-header .logo {
    width: 190px;
  }

  #dropShadow {
    top: 78px;
  }

  .header-title .text-alt {
    margin-bottom: 36px;
  }

  .header-title h3 {
    margin-bottom: 6px;
  }
}
/*Desktop*/
@media (min-width: 991px) {
  .section {
    padding-top: 50px;
  }

}
@media (max-height: 375px) {
  .what-we-do {
    padding-top: 10px;
    min-height: 180px;
  }
}

@media (max-width: 767px){
  #navigation.navbar-collapse{
    padding-left:0px;
    background: #202832;
  }
  .navigation-link:not(.active):not(:hover):not(:focus):not(:active) {
    color: #ffffff;
  }
  .cropper {
    display: none;
  }
}

.navigation-item.active a {
  color: #39c8b7!important;
}

#privacy-policy p,li{
  font-size: 1.3em;
  line-height: 1.5em;
}
#privacy-policy li{
  margin-left:3em;
}
