.custom-header {
  background-color: #2b3643!important;
}

.custom-speaker{
  min-height: 900px;
}
.package-column .package-price{
  font-size: 30px;
}
/*.package-column.special-column{
  min-height: 480px;
}*/
.bottomaligned {
  position:absolute;
  bottom:5%; left: 10%;}

.package-column{
  min-height: 480px;
}


.footer{
  background-color: #2b3643;
}

.decacoder{
  font-family: PFDinStencil-Thin, Arial, Helvetica, san-serif;
  font-weight: normal;
  font-size: 26px;
}
.footer-about{
  padding-bottom:30px;
}
.footer{
  margin-top:50px
}

#dropShadow {
  height: 6px;
  bottom: -6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 78px;
  left: 0;
  right: 0;
  height: 6px;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 998;
}

.workshop-book {
  margin:32px;
}
.workshop-description {
  background-color: #ffffff;
  padding: 64px 32px;
  font-size:large;
}

.nav.nav-schedule li.active {
  background: #5F7895;
}
.tickets-section .workshop-description {
  background: #DCE1E5;
}

section.tickets-section {
  /*padding: 0;*/
}
.nav.nav-schedule li a {
  padding: 15px;
}
.no-pad {
  padding: 0;
}
.white{
  color:#ffffff;
}

.herobox{
  margin-bottom: 140px;
  width:100%;
  padding-top:250px;
  background-image: url('resources/heropic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position:relative;
}
.herobox .img-contain{
  position: absolute;
  bottom:0px;
  left:50%;
}
.herobox-logo{
  position:relative;
  bottom:-120px;
  left:-50%;
  width:300px;
  border-radius:50%;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,1);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,1);
}
h3 {
  margin-top:0.5em;
}
.what-we-do {
  background-image: url('resources/heropic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background: #384657;*/
  width: 100%;
  padding-top: 145px;
  min-height: 525px;
}
.what-we-do p {
  font-size: xx-large;
  line-height: 1.3em;
  margin-bottom: 0.625em;
  color: white;
}

.what-we-do h3 {
  color: white;
}
button, .btn {
  margin: 0;
}

.course-bg,
.workshop-bg {
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top:30px;
}
h4 {
  font-weight: 100;
  letter-spacing: 0;
  margin-top: 0.5em;
}

.who-are-we {
  background: #2b3643; /*#00BCE4;*/
  margin-top: 60px;
  padding-bottom: 76px;
  padding-top: 30px;
}

.who-are-we h3 {
  color: #ffffff;
  margin-bottom: 22px;
}

.who-are-we p {
  font-size: 27px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 0.01em;
}

.about-us {
  margin-bottom: 26px;
  color: #ffffff;
}
h5 {
  letter-spacing: 0;
  font-weight: 100;
}

.footer-nav p {
  color: #ECEFF1;
}
.description p {
  font-size:1.5em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
}
